venv/
frontend/node_modules/
frontend/dist/
logs/*
!logs/.gitkeep
data/db.sqlite3
__pycache__/
*.py[cod]
*.log
*.tmp
*.swp
.DS_Store
.idea/
.vscode/
.git/
.gitignore
tools-app.tar
alpine.tar
.claude/
.archived_files/

docs/
